.api-image-feed {
    background-color: transparent;
    border-radius: 8px;
    padding: 6px;
    spacing: 6px;
}


.status {
    font-size: 9pt;
    color: #ccc;
}

.control-button {
    padding: 2px 4px;
    border-radius: 4px;
}

.control-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
